/* 초기화 */
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
ul{list-style: none;}
fieldset,input {border: 0;}

/* 세팅 */
html {}
body {
    word-break: keep-all;
    overflow-x: hidden;
    transition: background-color .5s;
    font-family: Archivo, NotoSansCJKkr;
}

/* 폰트 */

@font-face {
    font-family: "Archivo";
    src: url("../css/font/Archivo-SemiBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Archivo";
    src: url("../css/font/Archivo-Bold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
